[submodule "mipt/s4/english/20140415/presentation"]
	path = mipt/s4/english/20140415/presentation
	url = git@github.com:it-workshop/QuadrocopterPresentation.git
[submodule "mipt/s5/English/20141201/presentation"]
	path = mipt/s5/English/20141201/presentation
	url = git@github.com:it-workshop/QuadrocopterPresentation.git
[submodule "mipt/s6/English/20150213/presentation"]
	path = mipt/s6/English/20150213/presentation
	url = git@github.com:it-workshop/QuadrocopterPresentation.git
[submodule "mipt/s6/English/exam_presentation/presentation"]
	path = mipt/s6/English/exam_presentation/presentation
	url = git@github.com:it-workshop/QuadrocopterPresentation.git
