*.pyc
*.RData
debtsUnique
*.o
*.layout
bin/*
*.cbp
*build*
*.depend
*.swp
*~
*.pro.user
a.out
*.out
*.aux
*.bbl
*.blg
*.dvi
*.log
*.tcp
*.tps
*.gz
*.ps
solution.pdf
Algorithms1_VolodinSergey272.pdf
algorithms1.pdf
.~lock*
mipt/algorithms/20130222/Aho/Aho
*.exe
